<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="eclipse-extra-prereqs">
  <locations>
    <!-- Marketplace Client -->

    <!-- Deps of Marketplace Client -->
	  <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
		  <unit id="org.eclipse.epp.mpc.feature.group" version="1.7.5.v20190313-2005"/>
		  <unit id="org.eclipse.epp.mpc.source.feature.group" version="1.7.5.v20190313-2005"/>
		  <repository location="https://download.eclipse.org/mpc/drops/1.7.5/v20190313-2005"/>
	  </location>
	  <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
		  <unit id="org.eclipse.userstorage.feature.group" version="1.2.0.v20190308-0433"/>
		  <unit id="org.eclipse.userstorage.sdk.feature.group" version="1.2.0.v20190308-0433"/>
		  <repository location="https://download.eclipse.org/usssdk/drops/milestone/S911-1.2-RC1"/>
	  </location>
  </locations>
</target>