<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="eclipse-extra-prereqs">
  <locations>
    <!-- Marketplace Client -->
	  <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
		  <unit id="org.eclipse.epp.mpc.feature.group" version="1.9.1.v20210204-1408"/>
		  <unit id="org.eclipse.epp.mpc.source.feature.group" version="1.9.1.v20210204-1408"/>
		  <repository location="https://download.eclipse.org/mpc/drops/1.9.1/v20210204-1408/"/>
	  </location>

    <!-- Deps of Marketplace Client -->
	  <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
		  <unit id="org.eclipse.userstorage.feature.group" version="1.2.0.v20191120-1614"/>
		  <unit id="org.eclipse.userstorage.sdk.feature.group" version="1.2.0.v20191120-1614"/>
		  <repository location="https://download.eclipse.org/usssdk/drops/release/1.2.1"/>
	  </location>

	  <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
		  <unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="15.0.2.v20210201-0955"/>
		  <repository location="https://download.eclipse.org/justj/jres/15/updates/release/15.0.2"/>
	  </location>
  </locations>
</target>
