/eclipse-build-config
/eclipse-build-feature
/eclipse-*-src.tar.bz2
/eclipse-sdktests-*.tar.bz2
/eclipse-sdktests-*-scripts
/emfFore4-2.7.0-src.tar.bz2
home
build_*.log
*Fetch.log
userhome
org.eclipse.releng.basebuilder
org.eclipse.releng.eclipsebuilder
build
*-stamp
eclipse*-src
eclipse-build*
workspace
buildworkspace
task-bin
p2
bootstrap
configuration
generatedScripts
testsBuild
Xvnc.log
sdk-tests.properties
tests_*
EMFbuildworkspace
