[Desktop Entry]
Type=Application
Name=Eclipse
GenericName=Integrated Development Environment
Icon=eclipse
Exec=eclipse
Terminal=false
Categories=Development;IDE;Java;
